@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Space+Grotesk:wght@300..700&display=swap');

/* Global Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', monospace;
}

body {
    background-color: #285A48;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}