.section-title {
    display: flex;
    margin-bottom: 50px;
    gap: 20px;
}

.section-title h1 {
    background-color: #b9ff66;
    padding: 5px;
    border-radius: 7px;
}

.work-process {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}

.work-process-divider {
    border-bottom: black 2px solid;

}

.work-process h1 {
    font-size: 60px;
}

.work-process p {
    font-size: 30px;
    font-weight: bold;
}

.work-process-container-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.work-process-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 40px;
}

.expand button {
    padding: 15px;
    border-radius: 100%;
    max-width: 60px;
    cursor: pointer;
}

.green-text-bg {
    display: flex;
    background-color: #b9ff66;
    border-radius: 50px;
    border: 2px solid #191A23;
    filter: drop-shadow(0px 5px);
    padding: 40px;
}

.gray-text-bg {
    display: flex;
    background-color: #F3F3F3;
    border-radius: 50px;
    border: 2px solid #191A23;
    filter: drop-shadow(0px 5px);
    padding: 40px;
}