.banner {
    display: flex;
    justify-content: space-between;
}

.banner img {
    max-width: 100%;
}

.bannerinfo {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 50%;
}

.bannerinfo h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bannerinfo p {
    margin-bottom: 50px;
}

.bookingcta {
    background-color: #191A23;
    padding: 20px 35px;
    border-radius: 14px;
    cursor: pointer;
    justify-content: center;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.bookingcta a {
    color: white;
    text-decoration: none;
}

.logos {
    display: flex;
    justify-content: space-between;
    filter: grayscale(100);
    margin: 50px 0px 50px 0px;
    flex-wrap: wrap;
}

/* Services */
.service-title {
    display: flex;
    margin-bottom: 50px;
    gap: 20px;
}

.service-title h1 {
    background-color: #b9ff66;
    padding: 2px;
    border-radius: 7px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 50px;

}

.services-container h2 {
    font-weight: medium;
}

.services {
    width: calc(50% - 10px);
    justify-content: space-between;
    margin-bottom: 20px;
}

.serviceinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.serviceinfo h2 {
    border-radius: 5px;
    padding: 2px 7px;
    margin: 0px;
    display: inline-block;
}

.learnmore-black {
    display: flex;
    color: black;
    align-items: center;
    gap: 10px;
}

.learnmore-white {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
}

.graybox {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 50px;
    border: 2px solid #191A23;
    filter: drop-shadow(0px 5px);
    padding: 40px;
}

.blackbox {
    display: flex;
    background-color: #191A23;
    border-radius: 50px;
    border: 2px solid #191A23;
    filter: drop-shadow(0px 5px);
    padding: 40px;
}

.greenbox {
    display: flex;
    background-color: #b9ff66;
    border-radius: 50px;
    border: 2px solid #191A23;
    filter: drop-shadow(0px 5px);
    padding: 40px;
}

.green-text-bg h2 {
    background-color: #b9ff66;

}

.white-text-bg h2 {
    background-color: #FFFFFF;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    border-radius: 50px;
    padding: 0px 45px;
}

.cta-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}



/* tablet */
@media screen and (max-width: 920px) {

    .bannerinfo {
        width: 100%;
    }

    .banner {
        justify-content: space-around;
        align-items: center;
    }

    .bookingcta {
        display: flex;

        width: 100%;
    }

    .service-title {
        flex-direction: column;
        align-items: center;
    }

    .service-title h1 {
        display: inline-block;
    }

    .service-title p {
        align-items: center;
    }

    .services {
        width: 100%;
    }

    .cta-info {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

}