.school_img {
    padding: 20px;
    height: 250px;
    margin-bottom: 25px;
}

.school_img img {
    height: 100%;
}

.testimony_item {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    height: 100%;
    padding: 51px;
    gap: 50px;
}

.testimony_item_quotes {
    padding-bottom: 10px;
}

.faq_items {
    display: flex;
    padding: 25px 0px;
    border-bottom: 2px solid #e1e1e1;
    width: 50%;
}

.request_item_content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}