.curriculum_intro {
    margin-bottom: 100px;
    gap: 18px;
}

.curriculum_grid {
    max-width: 1255px;
    gap: 24px;
    padding-left: 0;
    padding-right: 0;
}

.curriculum_grid .column-three {
    width: calc(33.333% - 16px);
}

.school_img {
    width: 100%;
    height: 205px;
    margin-bottom: 55px;
}

.school_img img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
}

.school_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 68px 20px 21px;
}

.curriculum_grid .column-container {
    min-height: 484px;
    border-color: #e1e1e1;
    transition: border-color 0.3s ease;
}

.curriculum_grid .column-container:hover {
    border-color: var(--color-dark-blue);
}

.curriculum_grid .school_description {
    max-width: none;
    width: 100%;
    height: 133px;
    justify-content: center;
    gap: 12px;
}

.curriculum_grid .school_description h4,
.curriculum_grid .school_description h4 a {
    font-weight: var(--font-weight-bold);
}

@media screen and (max-width: 1100px) {
    .curriculum_grid {
        padding-left: 50px;
        padding-right: 50px;
    }

    .curriculum_grid .column-three {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .curriculum_grid {
        padding-left: 24px;
        padding-right: 24px;
    }

    .school_item {
        padding-top: 48px;
    }
}

.testimony_item {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    height: 100%;
    padding: 51px;
    gap: 50px;
}

.testimony_item_quotes {
    padding-bottom: 10px;
}

.faq_items {
    display: flex;
    padding: 25px 0px;
    max-width: 50%;
}

.faq_section {
    padding-top: 80px;
}

.faq_heading {
    gap: 40px;
    margin-top: 0;
    margin-bottom: 70px;
}

.faq_heading h2 {
    text-align: center;
    font-size: var(--font-size-h2);
}

.faq_list {
    max-width: 1136px;
    margin-left: auto;
    margin-right: auto;
}

.faq_item {
    max-width: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px 0;
}

.faq_item_open {
    padding-top: 0;
    padding-bottom: 66px;
}

.faq_question {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.faq_question h4 {
    font-size: var(--font-size-h5);
    line-height: var(--font-line-height-headings-loose);
}

.faq_question img {
    width: 30px;
    height: 30px;
    padding: 8px;
    background-color: var(--color-cyan);
}

.faq_item:not(.faq_item_open) .faq_question img {
    background-color: var(--color-white);
}

.faq_item p {
    margin-top: 28px;
    font-size: var(--body-text-menu);
    line-height: var(--font-line-height);
    color: var(--color-grey);
    overflow: hidden;
}

.request_item_content {
    gap: 24px;
}

.request_info_section {
    max-width: 1255px;
    gap: 100px;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.request_info_section .column-two {
    width: calc(50% - 50px);
}

.request_info_image_column {
    max-width: 590px;
}

.request_info_image_column img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.request_info_text_column {
    max-width: 539px;
    padding-top: 40px;
}

.ratings {
    width: 100%;
}

.ratings img {
    width: 75px;
    margin-bottom: 20px;
}

/* Tablet */
@media screen and (max-width: 1100px) {
    .request_info_section {
        flex-wrap: wrap;
        gap: 48px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .request_info_section .request_info_image_column,
    .request_info_section .request_info_text_column {
        width: 100%;
    }

    .request_info_section .request_info_text_column {
        padding-top: 0;
    }

    .request_info_section .request_info_image_column img {
        height: auto;
    }
}
