.course_header_banner {
    background-image: url("../img/light\ blue\ pattern\ bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}



.instructor_row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.instructor_avatar {
    width: 35px;
    height: 35px;
    background-color: var(--color-border-light);
    border-radius: 50%;
}

.sticky_layout_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 60px;

}

.sticky_layout_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.course_left_content {
    width: 65%;
}

.course_right_sidebar {
    width: 35%;
}

.sticky_card_content {
    background: var(--color-white);
    padding: 25px;
    border-radius: 16px;
    border: 1px solid var(--color-light-transparent);
}

.sticky_card_white {
    padding: 30px;
    border-radius: var(--border-radius) 6px;
    position: sticky;
    height: 100%;
    top: 60px;
}

.course_preview_img {
    width: 100%;
    border-radius: 12px;
    display: block;
    margin-bottom: 25px;
}

.old_price {
    color: var(--color-dark-grey-text);
    text-decoration: line-through;
    margin-left: 8px;
}

/* SECTION TITLE */
.text_subheading_banner {
    margin-bottom: 28px;

}

/* MAIN PARAGRAPH */
.course_left_content p {
    margin-bottom: 20px;
}

/* WHAT YOU'LL LEARN */
.info_items p {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 18px;
}

/* TOPIC LIST */
.topic_item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 20px;
}

.topic_number {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* UNIT TITLE */
.course_unit_box {

    display: flex;
    align-items: center;
    gap: 20px;
    padding: 22px 28px;
    border-radius: 14px;
    background: var(--color-light-cyan);
    margin-bottom: 25px;
}


/* UNIT BUTTON */
.course_unit_box .small_btn {
    flex-shrink: 0;
}

/* TITLE */
.course_unit_box h5 {
    margin: 0;
}

/* UNIT CONTENT */
.unit_content_padding {
    padding-left: 20px;
    margin-bottom: 45px;
}

/* UNIT SUBTITLE */
.unit_sub_title {
    display: inline-block;

    padding-bottom: 4px;
    font-weight: 700;
    line-height: 1.1;
}

/* UNIT DETAIL */
.unit_detail_list p {
    margin-bottom: 12px;
}

/* BOLD TEXT */
.font_weight_bold {
    font-weight: 700;
}