.elementary_hero {
    padding-top: 80px;
    gap: 8px;
}

.elementary_hero h1 {
    font-size: var(--font-size-h2);
    line-height: 1.3;
    font-weight: var(--font-weight-bold);
}

.elementary_hero_divider {
    width: min(73%, 1230px);
    max-width: calc(100% - 128px);
}

.elementary_hero_subtitle {
    color: var(--color-grey);
    font-size: var(--font-size-h5);
    line-height: var(--font-line-height);
    max-width: 1230px;
}

.elementary_feature_card img {
    display: block;
    border-bottom-left-radius: var(--textbox-border-radius);
    border-bottom-right-radius: var(--textbox-border-radius);
    width: 100%;
}

.elementary_feature_card_text {
    gap: 15px;
    padding: 50px;
}

.elementary_feature_card {
    padding: 0px;
}

.goals_achieved {
    display: flex;
    align-items: center;
    gap: 10px;
}

.virtual_tour_item {
    border-radius: var(--border-radius);
}

.virtual_tour_section {
    gap: 20px;
}

.real_time_interaction_bg {
    background-color: #23269b;
    background-image: linear-gradient(90deg, #1A195F 0%, #22217c 50%, #282796 100%);
}

.real_time_interaction_container {
    padding: 100px;
}

.real_time_interaction_title {
    margin-bottom: 100px;
}

.real_time_interaction_content {
    gap: 50px;
    align-items: flex-start;
}

.real_time_intereaction_promo {
    display: flex;
    align-items: center;
    gap: 50px;
}

.real_time_icon {
    width: 80px;
}

.real_time_contact {
    display: inline-block;
    background-color: var(--color-dark-blue);
    padding: 40px;
    border-left: solid 4px var(--color-yellow);
    border-radius: var(--textbox-border-radius);
}

/* Tablet */
@media screen and (max-width: 1100px) {
    .elementary_hero h1 {
        font-size: 42px;
    }

    .elementary_hero_subtitle {
        font-size: var(--font-size);
        max-width: 90%;
    }
}

/* Mobile */
@media screen and (max-width: 750px) {
    .elementary_hero {
        padding-top: 48px;
    }

    .elementary_hero h1 {
        font-size: 36px;
    }

    .elementary_hero_divider {
        max-width: calc(100% - 40px);
        width: 100%;
    }

    .elementary_hero_subtitle {
        font-size: var(--font-size);
    }
}