.goals_achieved {
    display: flex;
    align-items: center;
    gap: 10px;
}

.virtual_tour_item {
    width: 100%;
    border-radius: var(--border-radius);
}

.virtual_tour_section {
    gap: 20px;
}

.core_badge {
    min-width: 20%;
    margin-top: 18px;
}

.core_badge p {
    display: inline;
    background-color: var(--color-ivory-green);
    padding: 10px;
    border-radius: 2px;
    font-size: var(--body-card-text);
}

.real-time-interaction-bg {
    background-color: #23269b;
    background-image: linear-gradient(135deg, #1c1f87 0%, #2e32b8 45%, #1a1768 100%);
}