.future_box {
    display: flex;
    gap: 120px;
    justify-content: space-around;
}

.future_content {
    width: 50%;
}

.event_card:hover {
    border-color: var(--color-light-transparent);
    transition: 0.5s all;
}

.event_image img {
    border-radius: var(--border-radius);
}

.event_intro_box {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.event_details {
    justify-content: space-between;
    display: flex;
    gap: 100px;
    align-items: center;
    padding-left: 50px;
}

.badges_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.events_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;

}

.event_image {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.action {
    padding: 22px 40px 24px;
    margin: 0px 23px;
    white-space: nowrap;
}

.items_box {
    display: flex;

}

.stats_cards_right {
    background-color: var(--color-yellow);
    padding: 56px;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blue_star::before {
    content: url(../img/blue_star.svg);
    display: inline-block;
    width: 16px;
    margin-right: 12px;

}


.features_grid {
    display: flex;
}

.text_column {
    margin: 0px 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.padding_bot_24 {
    padding-bottom: 24px;
}

.quotes_content_box {
    padding: 80px 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.quotes_container {
    justify-content: center;
    display: flex;
}

.quote_center_text {
    padding: 0px 56px;
    text-align: center;
    margin: 0px 23px;

}

.side_image_container {
    width: 75%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.side_image_container img {
    border-radius: var(--border-radius);

}

.light_grey_background_container {
    padding: 96px 117px 96px;
}

.ivory_green_bg {
    background-color: var(--color-ivory-green);
    padding: 32px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.font_text_yellow a {
    color: var(--color-yellow);
}

@media screen and (max-width: 1100px) {
    .event_card {
        margin: 0px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .event_details {
        padding-left: 0px;
    }

    .event_image {
        width: 100%;
        height: 100%;
    }

    .events_info {
        width: 100%;
    }

    .img_left {
        display: none;
    }

    .light_grey_background_container,
    .quotes_container,
    .section_intro {
        padding: var(--padding-section);
    }

    .future_box {
        flex-direction: column;
    }

    .future_content,
    .stats_cards_right {
        width: 100%;
    }

    .quotes_content_box {
        padding: 0px;
    }

    .side_image_container {
        width: 100%;
    }

    .btn_cyan {
        margin-bottom: 10px;
    }

    .section_intro {
        flex-direction: column;
        margin: 0px;

    }

    .section_right {
        margin-left: 0px;
    }
}

@media screen and (max-width: 750px) {
    .event_details {
        flex-direction: column;
        align-items: start;
    }

    .quotes_container {
        display: block;
    }

    .features_grid {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .action {
        padding: 0px;
        margin: 23px 0px;
    }

    .event_intro_box {
        gap: 10px;
    }
}