.black_separator_line {
    margin: 25px;
    border-bottom: 2px solid var(--color-black);
}

.black_background_container {
    background-color: #212131;
}

.professional_learning {
    padding: 0px;
}

.request_info_hero img {
    display: block;
    width: 100%;
}

.request_info_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 100px;
}