.apply_today_img img {
    object-fit: cover;
    width: 100%;
    height: 460px;
    border-radius: var(--border-radius);
}

.apply_today_blue_overlay {
    --foil-background-color: #232a92;
    --foil-background-overlay: linear-gradient(rgba(31, 39, 148, 0.38), rgba(31, 39, 148, 0.38));
}

.academics_testimony_background {
    --foil-background-color: var(--color-cyan);
    --foil-background-overlay: linear-gradient(rgba(39, 196, 229, 0.2), rgba(39, 196, 229, 0.2));
    background-size: cover;
    background-position: center;
}

.apply_today_brand {
    display: inline;
    font-size: 12px;
    border: solid 2px var(--color-white);
    padding: 10px;
    border-radius: var(--border-radius);
}

.apply_today_content {
    gap: 40px;
    margin: 45px 60px;
}

.apply_today_content a {
    text-decoration: underline;
}

.about_section {
    margin-left: auto;
    margin-right: auto;
}

.about_eyebrow {
    max-width: 375px;
    padding-bottom: 28px;
    border-bottom: 1px solid #e1e1e1;
}

.about_CTA_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: sticky;
    align-self: flex-start;
    top: 80px;
}

.about_content_icon img {
    max-width: 80px;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.about_content_divider {
    margin: 30px 0px;
}

.on_demand_classes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius);
}

.on_demand_section {
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.on_demand_heading {
    align-self: stretch;
    font-size: var(--font-size-h2-others-banner);
    line-height: 1.25;
    margin-bottom: 80px;
}

.on_demand_classes_icon {
    width: 80px;
}

.on_demand_class_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 0 1 380px;
    padding-left: 28px;
}

.on_demand_class_content h3 {
    font-size: 36px;
    line-height: 1.25;
}

.on_demand_class_content .btn {
    padding: 16px 28px 18px;
    font-size: 15px;
}

.on_demand_classes_img img {
    display: block;
    border-radius: var(--border-radius);
    width: auto;
    min-height: 300px;
    max-height: 429px;
    object-fit: cover;
}

/* Tablet */
@media screen and (max-width: 1100px) {
    .about_CTA_container {
        position: static;
        top: auto;
    }

    .on_demand_class_content {
        flex-direction: column;
        flex-basis: auto;
        padding-left: 0;
        padding: 20px;
        gap: 28px;
    }

    .on_demand_class_content .on_demand_classes_img img {
        width: auto;
        min-height: 260px;
        max-height: 300px;
    }
}

/* Mobile */
@media screen and (max-width: 750px) {}
