.news_rox {
    flex-direction: row;
}

.card_image {
    position: relative
}

.card_image img {
    border-radius: var(--border-radius);
}

.date_badge {
    position: absolute;
    bottom: -15px;
    right: 20px;
    background-color: var(--color-yellow);
    padding: 13px 16px;
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: var(--font-weight-bold);
}

.flex_direction_row {
    flex-direction: row;
    gap: 5px;
}

.news_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.what_happen_relative {
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 16px 40px;
    margin: 25px;
    bottom: 155px;
    gap: 10px;

}

.blog {
    border-radius: var(--border-radius);
}

.light_blue_divider {
    background-color: var(--color-light-cyan);
    padding: 80px 30px 0px 30px;
}

.online_class_container {
    background-image: url("../img/flower_bg.png");
    padding: 80px 30px 0px 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.floating_card {
    background-color: var(--color-yellow);
    padding: 16px;
    display: inline-block;
    width: 25%;
    position: relative;
    left: 570px;
    bottom: 225px;
    margin-right: 20px;
    border-radius: var(--border-radius);
}

.course_overview_content h2 {
    text-align: center;
}

.course_overview_content {
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.news_gap {
    gap: 45px;
}

img {
    border-radius: var(--border-radius);
}

.container_padding_horizontal {
    padding: 50px 30px;
}

.font_text_yellow a {
    color: var(--color-yellow);
}

@media screen and (max-width: 1100px) {
    .column-three {
        width: calc(50% - 38.5px);
    }

    .online_class_container {
        padding-bottom: 80px;
    }

    .max-width {
        max-width: 1100px;
    }
}

@media screen and (max-width: 750px) {
    .column-three {
        width: calc(100% - 77px);
    }

    .max-width {
        max-width: 750px;
    }

    .what_happen_relative {
        position: static;
        margin: 0px 0px 30px 0px;
    }

    .floating_card {
        display: none;
    }
}