:root {
    /* Color */
    --color-cyan: #27C4E5;
    --color-yellow: #FCC943;
    --color-dark-blue: #292899;
    --color-red: #E0284F;
    --color-ivory-green: #ECF9EE;
    --color-light-grey: #F7F7F7;
    --color-beige: #FFFCF5;
    --color-black: #222222;
    --color-grey: #444444;
    --color-white: #FFFFFF;
    --color-green: #77FD9F;
    --color-light-purple: #F2F0FF;
    --color-light-cyan: #E9F9FC;
    --color-transparent: transparent;
}