.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 80px;
    align-items: center;
}

.header_menu {
    display: flex;
    gap: 30px;
    font-size: 17px;

}

.link_blue a {
    color: var(--color-cyan);
}

.header_menu>.menu {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

.academics_menu {
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 820px;
    display: flex;
    gap: 16px;
    pointer-events: none;


}

.acadamic_submenu {
    padding: 16px 0px 16px 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.online {
    padding: 16px 16px 16px 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.school_padding {
    padding: 20px 32px;
    border-radius: 6px;
}

.elementary {
    background-color: var(--color-ivory-green);
}

.middle {
    background-color: var(--color-light-purple);
}

.high {
    background-color: var(--color-light-cyan);
}

.online_school {
    background-color: var(--color-beige);
}

.school_padding h5 {
    font-size: 18px;
}

.school_padding p {
    font-size: var(--body-card-text);
    font-weight: 300;
    color: var(--color-black);
    padding: 12px 0px 0px 0px;
}

.online_school_content p {
    padding-bottom: 12px;
}

.school_padding a:hover {
    color: var(--color-cyan);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.online_school_content>div {
    padding-bottom: 12px;
}

.linkpic {
    display: flex;
    justify-content: space-between;
}

.linkpic>a {
    color: var(--color-grey);
    font-size: 14px;
    text-decoration: underline;

}

.linkpic>a:hover {
    color: var(--color-black);
    font-size: 14px;
    text-decoration: none;

}

.info_menu {
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
    pointer-events: none;
    z-index: 1000;
}



.school_padding:hover {
    background-color: var(--color-beige);
}

.info_menu a {
    padding: 24px 24px 24px 32px;
    display: flex;
}

.arrow_down::after {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 600;
    display: inline-block;
    width: 12px;
    margin-left: 8.5px;

}

.bento_menu {
    z-index: 1000;
}

.menu:hover {
    color: var(--color-yellow);
    transition: all 0.5s;
}

.menu_home:hover>a {
    color: var(--color-yellow);
}

.side_menu_item:hovera {
    color: var(--color-yellow);
}

.arrow_down:hover>.info_menu {
    opacity: 1;
    pointer-events: auto;
    background-color: var(--color-white);
    /* visible when hover menu item */
}

.arrow_down:hover>.academics_menu {
    opacity: 1;
    /* visible when hover menu item */
    pointer-events: auto;
    background-color: var(--color-white);
    z-index: 1000;
}

.info:hover>a {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
}

.header_bottom {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu>img:hover {
    fill: var(--color-yellow);
}

.online_school_content h5 {
    font-size: 18px;
    color: var(--color-black);
}

.top_header_btn {
    font-size: var(--big-btn-font-size);
    padding: var(--medium-btn-padding);
    border-radius: var(--border-radius);
    background-color: var(--color-ivory-green);
    border: 0px;
    text-decoration: none;
    color: var(--color-black)
}

.top_header_btn:hover {
    background-color: var(--color-light-purple);
}

.top_header_btn a::after {
    content: url("../../img/starburstblack.svg");
    display: inline-block;
    width: 17px;
    padding-left: 12px;
}

.header_bottom>div {
    cursor: pointer;

}

.headerside_menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;

    background-color: #ffffff;
    width: 30%;
    height: 100vh;

    position: fixed;
    top: 0;
    right: -50%;
    /* Completely off-screen to the right */

    transition: all 0.4s ease-in-out;
    z-index: 999;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
}

.headerside_menu.active {
    right: 0;
}

.side_icon {
    border-bottom: 1px solid;
}

.side_content {
    display: none;

}

.side_title_content h6,
.nevigation h6 {
    color: var(--color-dark-blue);
    text-decoration: underline;
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);
}

.side_title_content {
    display: flex;
    gap: 20px;
    flex-direction: column
}

.ourschool img {
    border-radius: 6px;
}

.side_title_content p {
    font-size: var(--body-card-text);
    line-height: var(--font-line-height);
    font-weight: 300;
    color: var(--color-grey)
}

.getintouch span {
    font-weight: var(--font-weight-regular);
}

.rm a {
    font-size: var(--body-card-text);
    line-height: var(--font-line-height);
    color: var(--color-cyan);
    text-decoration: underline;
}

.rm a:hover {
    transition: all 0.5s;
    color: var(--color-black);
    text-decoration: none;
}

.contact_link a {
    text-decoration: underline;
    font-weight: 300;
}

.contact_link a:hover {
    color: var(--color-dark-blue);
    transition: all 0.5s;
}

.side_menu_media>a {
    border: 1px solid #e1e1e1;
    padding: 12px;
    border-radius: var(--border-radius);
    color: var(--color-black);
}

.fa-youtube,
.fa-facebook-f,
.fa-x-twitter,
.fa-instagram {
    color: var(--color-black);
}

.fa-youtube:hover,
.fa-facebook-f:hover,
.fa-x-twitter:hover,
.fa-instagram:hover {
    color: var(--color-white);
}

.side_menu_media_gap {
    gap: 10px;
    margin-top: 20px;
}

.side_menu_media:hover>a {
    background-color: var(--color-dark-blue);
}

.fa-star {
    color: var(--color-yellow);
}

.fa-star-grey {
    color: var(--color-grey);
}

@media screen and (max-width: 1200px) {
    .header {
        padding: 16px 30px;
    }

    .side_content {
        display: block;
    }

    .header_menu {
        display: none;
    }

    .headerside_menu {
        width: 30%
    }

}



@media screen and (max-width: 750px) {
    .top_header_btn {
        display: none;
    }

    .headerside_menu {
        width: 60%;
        top: 0;
        right: -150%;
    }
}