/* Desktop Heading*/
.text_devider {
    background-color: var(--color-light-purple);
    padding: 20px;
}

.text_devider_white {
    background-color: var(--color-white);
    padding: 20px;
}

/* text colors */
.font_text_white {
    color: var(--color-white);
}

.font_text_grey {
    color: var(--color-grey);
}

.font_text_yellow {
    color: var(--color-yellow);
}

.font_text_dark_blue {
    color: var(--color-dark-blue);
}

.font_text_cyan {
    color: var(--color-cyan);
}

.font_text_light_grey {
    color: var(--color-light-grey-text);
}

.title {
    text-align: center;
    margin-bottom: 25px;
}

.text_align_center {
    text-align: center;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--font-line-height-headings-tight);
    font-weight: var(--font-weight-bold);
}


h2 {
    font-size: var(--font-size-h2);
    line-height: var(--font-line-height-headings-tight);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--font-line-height-headings-tight);
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: var(--font-size-h4);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);
}

.school_subject {
    font-size: var(--font-size-h4-subject);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);
}

.header_academic_school {
    font-size: var(--header-submenu-academic-text);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);
}

h5 {
    font-size: var(--font-size-h5);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);

}

h6 {
    font-size: var(--font-size-h6);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);

}


/* Desktop Body Text */
p {
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);

}

.font_number {
    color: var(--color-cyan);
    font-size: var(--body-number-text);
}

/* need to change */
.blue_font {
    color: var(--color-dark-blue);
    font-size: var(--body-card-text);
    font-weight: var(--font-weight-600);
}

.small_weight {
    font-weight: var(--font-weight-thin);
}

.font_weight_bold {
    font-weight: var(--font-weight-600);
}

.font_weight_thin {
    /* font-size: var(--number-font-size); */
    font-weight: var(--font-weight-thin);
    line-height: var(--font-line-height);
}

.section_description {
    font-weight: var(--font-weight-thin);
}

.core_badge p {
    display: inline;
    background-color: var(--color-ivory-green);
    padding: 10px 15px;
    border-radius: var(--textbox-border-radius);
    font-size: var(--body-text-box-yellow);
    font-weight: var(--font-weight-bold)
}

.section_badge p {
    display: inline;
    background-color: var(--color-yellow);
    font-weight: var(--font-weight-600);
    font-size: var(--body-text-box-yellow);
    padding: 13px 20px;
    border-radius: var(--border-radius);
}

.text_subheading_banner {
    font-size: var(--body-text-banner-paragrapgh);
    padding-bottom: 40px;
}

.quote {
    font-size: var(--body-text-quote);
}

.banner_text {
    font-size: 24px;
}

.body_card_text {
    font-size: var(--body-card-text)
}

.card_text {
    font-size: var(--body-card-text);
}


.number {
    font-family: var(--font-number-family);
    -webkit-text-stroke: 1px var(--color-cyan);
    font-size: var(--number-font-size);
    color: var(--color-white);
    font-weight: var(--font-weight-600);
}

.stat {
    color: var(--color-cyan);
    font-weight: var(--font-weight-thin);
}

.event_intro_text {
    color: var(--color-grey);
    font-size: var(--body-event_intro_text);
    font-weight: var(--font-weight-thin);
    line-height: var(--font-line-height-headings-loose);
    text-align: center;
    width: 65%;
}

.events_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stat_spacing {
    color: var(--color-grey);
    margin: 0px 10px 0px 10px;
}

.body_price {
    font-size: 17px;
    color: var(--color-dark-blue);
}

.dash {
    padding: 0px 5px;
}

.extra_small_text {
    font-size: var(--body-text-box-yellow);
}


/* Navigation link */
.nav_link {
    text-decoration: underline;
    color: var(--color-grey);
}

.nav_link:hover {
    text-decoration: none;
}

.nav_link:hover {
    color: var(--color-dark-blue);
}

.cyan_font_link {
    color: var(--color-cyan);
    font-size: var(--body-card-text);
}

.cyan_font_link:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.news_heading:hover {
    color: var(--color-dark-blue);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.join_link {
    color: var(--color-dark-blue);
    text-decoration: underline;

}

.banner_h2_medium {
    font-size: var(--font-size-h2-others-banner);
}

.join_link:hover {
    color: var(--color-black);
    text-decoration: none;
    transition: 0.5s all;
}

/* Tablet */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }
}

/* Mobile */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 39px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }
}