/* Desktop Heading*/
.text_devider {
    background-color: var(--color-light-purple);
    padding: 20px;
}

.text_devider_white {
    background-color: var(--color-white);
    padding: 20px;
}

a .font_text_white {
    color: var(--color-white);
}

.font_text_grey {
    color: var(--color-grey);
}

.font_text_yellow {
    color: var(--color-yellow);
}

.font_text_dark_blue {
    color: var(--color-dark-blue);
}

.font_text_cyan {
    color: var(--color-cyan);
}

h1 {
    font-size: var(--font-size-h1);
    line-height: var(--font-line-height-headings-tight);
    font-weight: var(--font-weight-bold);
}

.main_banner_content h1 {
    padding-bottom: 20px;
}

h2 {
    font-size: var(--font-size-h2);
    line-height: var(--font-line-height-headings-tight);
    font-weight: var(--font-weight-bold);
}

.diff_banner {
    font-size: var(--font-size-h2-others-banner);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: var(--font-line-height-headings-tight);
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: var(--font-size-h4);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);
}

.school_subject {
    font-size: var(--font-size-h4-subject);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);
}

.header_academic_school {
    font-size: var(--header-submenu-academic-text);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);
}

h5 {
    font-size: var(--font-size-h5);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);

}

h6 {
    font-size: var(--font-size-h6);
    line-height: var(--font-line-height-headings-loose);
    font-weight: var(--font-weight-bold);

}

/* Desktop Body Text */
p {
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
}

/* need to change */
.blue_font {
    color: var(--color-dark-blue);
    font-size: var(--body-card-text);
    font-weight: var(--font-weight-600);
}

.small_weight {
    font-weight: var(--font-weight-thin);
}

.text_subheading_banner {
    font-size: var(--body-text-banner-paragrapgh);
    padding-bottom: 40px;
}

.quote {
    font-size: var(--body-text-quote);
}

.banner_text {
    font-size: 24px;
}

.card_text {
    font-size: var(--body-card-text);
}

.number {
    font-family: var(--font-number-family);
    -webkit-text-stroke: 1px var(--color-cyan);
    font-size: var(--number-font-size);
    color: var(--color-white);
    font-weight: var(--font-weight-600);
}

.stat {
    color: var(--color-cyan);
    font-weight: var(--font-weight-thin);
}

.stat_box,
.news_box {
    display: flex;
}


.stat_spacing {
    color: var(--color-grey-text);
    margin: 0px 10px 0px 10px;
}

.price {
    font-size: 17px;
    color: var(--color-dark-blue);
}

.dash {
    padding: 0px 5px;
}


/* Navigation link */
.nav_link {
    text-decoration: underline;
    color: var(--color-grey);
}

.nav_link:hover {
    text-decoration: none;
}

.nav_link:hover {
    color: var(--color-dark-blue);
}

.cyan_font_link {
    color: var(--color-cyan);
    font-size: var(--body-card-text);
}

.cyan_font_link:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.news_heading:hover {
    color: var(--color-dark-blue);
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* Tablet */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }
}

/* Mobile */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 39px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }
}