@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

/* Root variables */
:root {

    /* Color */
    --color-cyan: #27c4e5;
    --color-yellow: #FCC943;
    --color-dark-blue: #292899;
    --color-red: #E0284F;
    --color-ivory-green: #ECF9EE;
    --color-light-grey: #F7F7F7;
    --color-beige: #FFFCF5;
    --color-black: #222222;
    --color-grey: #444444;
    --color-white: #FFFFFF;
    --color-green: #77FD9F;
    --color-light-purple: #F2F0FF;
    --color-light-cyan: #E9F9FC;
    --color-transparent: transparent;
    --color-light-grey-text: #FFFFFFB2;
    --color-dark-grey-text: #FFFFFF66;
    --color-purple: #b628e6;
    --color-light-green: #F3FBF5;


    /* Globol font */
    --color-text-headings: var(--color-black);
    --color-text: var(--color-grey);
    --font-family: "Lexend", sans-serif;
    --font-number-family: "Oswald";
    --font-size: 16px;
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-weight-600: 600;
    --font-line-height: 1.72;

    /*headings*/
    --font-size-h1: 60px;
    --font-size-h2-others-banner: 52px;
    --font-size-h2: 42px;
    --font-size-h3: 36px;
    --font-line-height-headings-tight: 1.3;

    --font-size-h4: 24px;
    --font-size-h4-subject: 22px;
    --font-size-h5: 20px;
    --font-size-h6: 16px;
    --font-line-height-headings-loose: 1.4;

    /*body*/
    --number-font-size: 80px;
    --header-submenu-academic-text: 18px;
    --footer-body-title-text: 36px;
    --body-text-quote: 34px;
    --body-text-banner-paragrapgh: 24px;
    --body-text-menu: 17px;
    --body-card-text: 14px;
    --body-text-box-yellow: 12px;
    --academic-btn-text-size: 11px;
    --body-number-text: 100px;
    /*===button that share===*/
    --big-btn-padding: 22px 34px 24px;
    --medium-btn-padding: 20px 30px;
    --small-btn-padding: 14px 16px 12px;
    --extra-small-btn-padding: 10px;
    --btn-radius: 6px;
    --big-btn-font-size: 16px;
    --small-btn-font-size: 11px;
    --btn-font-line-height: 1.0;

    /*border-radius*/
    --border-radius: 6px;


    /*btn details*/
    --btn-bg-color-cyan-default: var(--color-cyan);
    --btn-bg-color-transparent-default: var(--color-transparent);
    --btn-bg-color-yellow-default: var(--color-yellow);
    --btn-bg-color-dark-blue-default: var(--color-dark-blue);
    --btn-bg-color-light-purple-default: var(--color-light-purple);
    --btn-text-color-black-default: var(--color-black);
    --btn-text-color-white-default: var(--color-white);

    /*btn hover*/
    --btn-bg-color-yellow-hover: var(--color-yellow);
    --btn-bg-color-cyan-hover: var(--color-cyan);
    --btn-bg-color-dark-blue-hover: var(--color-dark-blue);
    --btn-bg-color-transparent-hover: var(--color-transparent);
    --btn-bg-color-beige-hover: var(--color-beige);
    --btn-text-color-black-hover: var(--color-black);
    --btn-text-color-white-hover: var(--color-white);


    /*===header and footer===*/
    --header-menu-font-color: var(--color-black);
    --header-menu-font-color-hover: var(--color-yellow);
    --header-menu-font-size: 17px;
    --header-menu-font-weight: 1.0;
    --header-menu-bento-icon-color: var(--color-grey);
    --header-menu-bento-icon-color-hover: var(--color-yellow);
    --header-menu-cart-icon-color: var(--color-cyan);
    --header-menu-cart-icon-color-hover: var(--color-black);

    --submenu-home-bg-border-color: var(--color-dark-blue);
    --submenu-academics-bg-elementary-color: var(--color-ivory-green);
    --submenu-academics-bg-middle-color: var(--color-light-purple);
    --submenu-academics-bg-high-color: var(--color-light-cyan);
    --submenu-academics-bg-online-color: var(--color-beige);
    --submenu-academics-bg-hover-color: var(--color-light-grey);

    --submenu-info-bg-color-hover: var(--color-dark-blue);

    --bento-menu-title-font-size: var(--font-size-h6);
    --bento-menu-title-font-color: var(--color-dark-blue);
    --bento-menu-title-font-decoration: underline;
    --bento-menu-text-font-color: var(--color-grey);

    --footer-subtitle-font-color: var(--color-white);
    --footer-category-font-color: var(--color-grey);
    --footer-category-font-color-hover: var(--color-cyan);
    --footer-terms-font-color: var(--color-grey);
    --footer-terms-font-color-hover: var(--color-yellow);
    --footer-terms-decoration-hover: dot;

    /*navigate link*/
    --bento-menu-navigatelink-font-color: var(--color-grey);
    --bento-menu-navigatelink-font-color-hover: var(--color-dark-blue);
    --bento-menu-navigatelink-decoration-hover: underline;
    --bento-menu-navigatelink-icon-color: var(--color-black);
    --bento-menu-navigatelink-icon-color-hover: var(--color-white);
    --bento-menu-navigatelink-icon-bg-color: var(--color-white);
    --bento-menu-navigatelink-icon-bg-color-hover: var(--color-dark-blue);

    --website-navigatelink-font-color: var(--color-dark-blue);
    --website-navigatelink-font-decoration: underline;
    --website-navigatelink-font-color-hover: var(--color-black);
    --website-navigatelink-decoration-hover: none;

    --footer-navigatelink-icon-color: var(--color-white);
    --footer-navigatelink-icon-color-hover: var(--color-transparent);
    --footer-navigatelink-icon-bg-color: var(--color-transparent);
    --footer-navigatelink-icon-bg-color-hover: var(--color-cyan);

    --section-title-font-color: var(--color-black);
    --section-title-font-color-hover: var(--color-dark-blue);
    --section-title-decoration-hover: dot;

    --faq-font-color: var(--color-black);
    --faq-font-color-hover1: var(--color-cyan);
    --faq-font-color-hover2: var(--color-yellow);
    --faq-decoration-hover: dot;

    /*===text field===*/
    --step-box-border-color: var(--color-cyan);
    --step-box-border-color2: #666666;
    --step-box-padding: 16px 32px;
    --radio-btn-color: var(--color-grey);
    --radio-btn-color-error: var(--color-red);

    --textbox-border-bottom-hover: 1px solid #212121;
    --textbox-border-radius: 8px;
    --textbox-padding: 0px 16px;

    --textarea-border-bottom-hover: 1px solid #212121;
    --textarea-border-radius: 8px;
    --textarea-padding: 16px;

    /* container gap */
    --container-gap: 20px;
    --container-about-gap: 12px;
    /*padding and margin*/
    --body-padding: 0px 30px 0px 30px;
    --body-margin: 20px 50px
}