@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Root variables */
:root {

    /* Color */
    --color-cyan: #27C4E5;
    --color-yellow: #FCC943;
    --color-dark-blue: #292899;
    --color-red: #E0284F;
    --color-ivory-green: #ECF9EE;
    --color-light-grey: #F7F7F7;
    --color-beige: #FFFCF5;
    --color-black: #222222;
    --color-grey: #444444;
    --color-white: #FFFFFF;
    --color-green: #77FD9F;
    --color-light-purple: #F2F0FF;
    --color-light-cyan: #E9F9FC;
    --color-transparent: transparent;
    /* Globol font */
    --color-text-headings: var(--color-black);
    --color-text: var(--color-grey);
    --font-family: "Lexend", sans-serif;
    --font-size: 16px;
    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --font-line-height: 1.72;

    /*headings*/
    --font-size-h1: 60px;
    --font-size-h2: 42px;
    --font-size-h3: 36px;
    --font-line-height-headings-tight: 1.3;

    --font-size-h4: 24px;
    --font-size-h5: 20px;
    --font-size-h6: 16px;
    --font-line-height-headings-loose: 1.4;

    /*===button that share===*/
    --big-btn-padding: 22px 34px 24px;
    --medium-btn-padding: 20px 30px;
    --small-btn-padding: 10px;
    --btn-radius: 6px;
    --big-btn-font-size: 16px;
    --small-btn-font-size: 11px;
    --btn-font-line-height: 1.0;

    /*type of school button*/
    --btn-school-bg-default: #B628E6;
    --btn-school-font-color-default: var(--color-white);
    --btn-school-bg-hover: #77FD9F;
    --btn-school-font-color-hover: var(--color-black);

    /*btn cyan default and yellow hover*/
    --btn-cyan-bg-default: var(--color-cyan);
    --btn-cyan-font-color-default: var(--color-white);
    --btn-cyan-bg-hover: var(--color-yellow);
    --btn-cyan-font-color-hover: var(--color-black);

    /*btn for transparent background*/
    --btn-transparent-bg-default: var(--color-transparent);
    --btn-transparent-font-color-default: var(--color-white);
    --btn-transparent-bg-hover-white: var(--color-white);
    --btn-transparent-bg-hover-cyan: var(--color-cyan);
    --btn-transparent-bg-hover-blue: var(--color-dark-blue);
    --btn-transparent-font-color-hover-black: var(--color-black);
    --btn-transparent-font-color-hover-white: var(--color-white);

    /*btn for cyan background and blue hover */
    --btn-see-bg-default: var(--color-cyan);
    --btn-see-font-color: var(--color-white);
    --btn-see-bg-hover: var(--color-dark-blue);

    /*btn yellow background and dark blue hover*/
    --btn-yellow-bg-default: var(--color-yellow);
    --btn-yellow-font-color-default: var(--color-black);
    --btn-yellow-bg-hover: var(--color-dark-blue);
    --btn-yellow-font-color-hover: var(--color-white);

    /*btn for light purple background and dark blue hover*/
    --btn-light-purple-bg-default: var(--color-light-purple);
    --btn-light-purple-font-color-default: var(--color-black);
    --btn-light-purple-bg-hover: var(--color-dark-blue);
    --btn-light-purple-font-color-hover: var(--color-white);

    /*btn yellow and cyan hover*/
    --btn-yellow-bg-default-cyan: var(--color-yellow);
    --btn-yellow-font-color-default-cyan: var(--color-black);
    --btn-yellow-bg-hover-cyan: var(--color-cyan);
    --btn-yellow-font-color-hover-cyan: var(--color-white);

    /*btn dark blue and yellow hover*/
    --btn-dark-blue-bg-default: var(--color-dark-blue);
    --btn-dark-blue-font-color-default: var(--color-white);
    --btn-dark-blue-bg-hover: var(--color-yellow);
    --btn-dark-blue-font-color-hover: var(--color-black);

    /*or*/
    --btn-bg-color-cyan-default: var(--color-cyan);
    --btn-bg-color-transparent-default: var(--color-transparent);
    --btn-bg-color-yellow-default: var(--color-yellow);
    --btn-bg-color-dark-blue-default: var(--color-dark-blue);
    --btn-bg-color-light-purple-default: var(--color-light-purple);
    --btn-text-color-black-default: var(--color-black);
    --btn-text-color-white-default: var(--color-white);

    --btn-bg-color-yellow-hover: var(--color-yellow);
    --btn-bg-color-cyan-hover: var(--color-cyan);
    --btn-bg-color-dark-blue-hover: var(--color-dark-blue);
    --btn-bg-color-transparent-hover: var(--color-transparent);
    --btn-text-color-black-hover: var(--color-black);
    --btn-text-color-white-hover: var(--color-white);

    /*===header and footer===*/
    --header-menu-font-color: var(--color-black);
    --header-menu-font-color-hover: var(--color-yellow);
    --header-menu-font-size: 17px;
    --header-menu-font-weight: 1.0;
    --header-menu-bento-icon-color: var(--color-grey);
    --header-menu-bento-icon-color-hover: var(--color-yellow);
    --header-menu-cart-icon-color: var(--color-cyan);
    --header-menu-cart-icon-color-hover: var(--color-black);

    --submenu-home-bg-border-color: var(--color-dark-blue);
    --submenu-academics-bg-elementary-color: var(--color-ivory-green);
    --submenu-academics-bg-middle-color: var(--color-light-purple);
    --submenu-academics-bg-high-color: var(--color-light-cyan);
    --submenu-academics-bg-online-color: var(--color-beige);
    --submenu-academics-bg-hover-color: var(--color-light-grey);

    --submenu-info-bg-color-hover: var(--color-dark-blue);

    --bento-menu-title-font-size: var(--font-size-h6);
    --bento-menu-title-font-color: var(--color-dark-blue);
    --bento-menu-title-font-decoration: underline;
    --bento-menu-text-font-color: var(--color-grey);

    --footer-subtitle-font-color: var(--color-white);
    --footer-category-font-color: var(--color-grey);
    --footer-category-font-color-hover: var(--color-cyan);
    --footer-terms-font-color: var(--color-grey);
    --footer-terms-font-color-hover: var(--color-yellow);
    --footer-terms-decoration-hover: dot;

    /*navigate link*/
    --bento-menu-navigatelink-font-color: var(--color-grey);
    --bento-menu-navigatelink-font-color-hover: var(--color-dark-blue);
    --bento-menu-navigatelink-decoration-hover: underline;
    --bento-menu-navigatelink-icon-color: var(--color-black);
    --bento-menu-navigatelink-icon-color-hover: var(--color-white);
    --bento-menu-navigatelink-icon-bg-color: var(--color-white);
    --bento-menu-navigatelink-icon-bg-color-hover: var(--color-dark-blue);

    --website-navigatelink-font-color: var(--color-dark-blue);
    --website-navigatelink-font-decoration: underline;
    --website-navigatelink-font-color-hover: var(--color-black);
    --website-navigatelink-decoration-hover: none;

    --footer-navigatelink-icon-color: var(--color-white);
    --footer-navigatelink-icon-color-hover: var(--color-transparent);
    --footer-navigatelink-icon-bg-color: var(--color-transparent);
    --footer-navigatelink-icon-bg-color-hover: var(--color-cyan);

    --section-title-font-color: var(--color-black);
    --section-title-font-color-hover: var(--color-dark-blue);
    --section-title-decoration-hover: dot;

    --faq-font-color: var(--color-black);
    --faq-font-color-hover1: var(--color-cyan);
    --faq-font-color-hover2: var(--color-yellow);
    --faq-decoration-hover: dot;

    /*===text field===*/
    --step-box-border-color: var(--color-cyan);
    --step-box-border-color2: #666666;
    --step-box-padding: 16px 32px;
    --radio-btn-color: var(--color-grey);
    --radio-btn-color-error: var(--color-red);

    --textbox-border-bottom-hover: 1px solid #212121;
    --textbox-border-radius: 8px;
    --textbox-padding: 0px 16px;

    --textarea-border-bottom-hover: 1px solid #212121;
    --textarea-border-radius: 8px;
    --textarea-padding: 16px;






}